@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./popover.css";

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* p-tag */
.de-p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
}

/* h1-tag */
.de-h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
}

/* h2-tag */
.de-h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    line-height: 1.5;
}

/* global for all blocks */
.de {
    padding: 0.25rem 1rem;
}

.de-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.de-li::before {
    content: "•";
    width: 0.75rem;
    margin-right: 0.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.de-li {
    align-items: flex-start;
    flex-grow: 1;
}

.de-checklist{
    display: flex;
    align-items: center;
    gap: 8px;
}

.de-code-sandbox {
    margin-top: 24px;
}

.de-code-sandbox-iframe{
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
}

.de-img{
    width: 100%;
    height: auto;
    margin-top: 24px;
}

.de-block{
    display: flex;
    gap: 2px;
}

/* popover for both the slash key and the add button */
.de-add-control-popover{
    width: 150px;
    height: auto;
}

.de-add-control-popover .item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 12px;
}

.de-add-control-popover .item:hover{
    background-color: #f2f2f2;
}

.de-add-control-popover .section{
    padding: 8px;
    font-weight: 600;
    font-size: medium;
}
.de-add-control-popover .separator {
    border-top: 1px solid #e2e2e2;
    margin: 8px 0;
}
